@import "tailwindcss";


body {
  background-color: #101010;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}


button {
  /* apply es para aplicar clases de tailwind */
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}